body {
    background-color: #efefef !important;
}

body, html {
    color: #333 !important;
}

button, select {
    box-shadow: none !important;
    cursor: pointer;
}

button.accordion-button.collapsed {
    background-color: #fff !important;
    color: #333 !important;
}

button.accordion-button {
    background-color: #eee !important;
    color: #333 !important;
}

.no-border-bottom {
    border-bottom: white !important;
}

.error-message-modal {
    display: none;
    color: red;
    font-size: 14px;
    margin-bottom: 1rem;
}

.logout-li {
    position: absolute;
    bottom: 1rem;
    display: block;
    width: 100%;
}

#referenceYear {
    width: 100px !important;
}

.container-custom {
    margin: 0;
}

.btn-options {
    height: 38px !important;
    background-color: #333 !important;
    color: #fff !important;
}

.btn-options svg {
    fill: #fff !important;
    margin-right: 2rem !important;
}

.btn-options:hover {
    background-color: #444 !important;
}

a {
    cursor: pointer !important;
}

.cancelled {
    text-decoration: line-through !important;
    color: #ccc;
}

label {
    font-weight: 700;
}

small.erro {
    text-align: center;
    color: red;
}

.gradle-expenses {
    display: flex;
    justify-content: space-around;
}

.gradle-expenses-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gradle-expenses-item img {
    border-radius: 0.5rem;
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.3);
}

.border-red {
    border: 1px solid red;
    cursor: not-allowed;
}

.font-bold-500 {
    font-weight: 500 !important;
}

#expense_card_selection, #expense_card_selection_edit {
    display: none;
}

.button-credit-card {
    display: flex !important;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.button-credit-card::after {
    background: none !important;
    height: 0 !important;
}

.accordion-header {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
    background-color: #dac2c2 !important
}

.pay-button {
    margin-right: 1rem;
    width: auto;
}

.accordion + .accordion {
    margin-top: 0.5rem !important;
}

.my-recipes-and-expenses, .expenses-going-to {
    padding: 1rem 1.25rem !important;
}

.recipes-expenses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.expenses-going-to {
    background-color: #f5f2c5;
    flex: 1;

    display: flex;
    flex-direction: column;
}

.my-recipes-and-expenses {
    display: flex;
    flex-direction: column;
    width: 25%;

    background-color: #e7e188;
    padding: 0;
}

.my-recipes-and-expenses h5, .expenses-going-to h5 {
    padding-bottom: 1rem;
}

.expenses-going-to h5 {
    text-align: center;
}

.my-recipes-and-expenses strong + span {
    margin-bottom: 1rem;
}

.my-recipes-and-expenses span.value {
    background-color: #f1f1f1;
    color: #333;
    padding: 1rem;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;

    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
}

.green-border {
    border: 1px solid #9ac09a;
}

.green-background {
    background-color: #7aa77a !important;
    color: #fff !important;
}

.red-background {
    background-color: #cea1a1 !important;
    color: #fff !important;
}

.blue-background {
    background-color: #537be7 !important;
    color: #fff !important;
}

.info-percentage {
    text-align: center;
    /* background-color: #cea1a1 !important; */
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.table-resume {
    width: 40%;
    vertical-align: middle;
    border-collapse: separate;
    border-spacing: 0.5rem;
}

.info-category-name {
    font-weight: 700;
    text-align: right;
}

.table-graph {
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.graph {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-value {
    font-weight: 500;
    background-color: #e7e188;
    text-align: center;
    padding: 0 0.5rem;
}

.no-expenses-yet {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.years strong, .months strong {
    text-transform: uppercase;
    color: #b6b6b6;
    display: block;
}

.months strong {
    margin-top: 1rem;
}

.months-years-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.months-years-row  input[name="year"] + label, input[name="month"] + label {
    border: 1px solid #ddd;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

.months-years-row input[name="year"]:checked + label, input[name="month"]:checked + label {
    background-color: #4b5da7 !important;
    border: 1px solid #4b5da7;
    color: #fff;
}

input[name="year"], input[name="month"] {
    display: none;
}

.modal-loading-text {
    display: block;
    text-align: center;
    font-size: 2rem;
    color: #999;
    margin-top: 1rem;
}

.inactive {
    display: none !important;
}

.text-gray {
    color: #ddd;
}

.input-password-eye-sign {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.input-password-eye-sign button {
    position: absolute;
    right: 0.25rem;
    top: 0.5rem;

    cursor: pointer;
    border: none;
    background: transparent;
}

.history-btn {
    border: none;
    outline: none;
    background: transparent;
    margin: 0 0 5px 1rem;
    color: #ffc107;

    border-radius: 10px;
    padding: 7px 12px;

    transition: box-shadow 0.2s ease
}

.history-btn:hover {
    box-shadow: 1px 2px 10px rgb(0 0 0 / 30%) !important;
}

.history-btn:active {
    filter: brightness(0.9);
}

.gray-text-color {
    color: #666;
}

table#table-reports {
    margin-bottom: 2rem;
}

.cursor-pointer {
    cursor: pointer !important;
}

.submitted-expenses-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid #ddd;
    background-color: #f5f2c5;
}

.submitted-expenses-content {
    display: flex;
    align-items: center;
}

.submitted-expenses-labels {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
