body {
    background-color: #efefef !important;
}

body, html {
    color: #333 !important;
}

button, select {
    box-shadow: none !important;
    cursor: pointer;
}

button.accordion-button.collapsed {
    background-color: #fff !important;
    color: #333 !important;
}

button.accordion-button {
    background-color: #eee !important;
    color: #333 !important;
}

.no-border-bottom {
    border-bottom: white !important;
}

.error-message-modal {
    display: none;
    color: red;
    font-size: 14px;
    margin-bottom: 1rem;
}

#referenceYear {
    width: 100px !important;
}

.container-custom {
    margin: 0;
}

.btn-options {
    height: 38px !important;
    background-color: #333 !important;
    color: #fff !important;
}

.btn-options svg {
    fill: #fff !important;
    margin-right: 2rem !important;
}

.btn-options:hover {
    background-color: #444 !important;
}

a {
    cursor: pointer !important;
}

.cancelled {
    text-decoration: line-through !important;
    color: #ccc;
}

label {
    font-weight: 700;
}

.extend-installment {
    filter: grayscale(100%);
    cursor: not-allowed !important;
}

small.erro {
    text-align: center;
    color: red;
}

.gradle-expenses {
    display: flex;
    justify-content: space-around;
}

.gradle-expenses-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gradle-expenses-item img {
    border-radius: 0.5rem;
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.3);
}

.border-red {
    border: 1px solid red;
    cursor: not-allowed;
}

.font-bold-500 {
    font-weight: 500 !important;
}

#expense_card_selection, #expense_card_selection_edit {
    display: none;
}

.button-credit-card {
    display: flex !important;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.button-credit-card::after {
    background: none !important;
    height: 0 !important;
}

.accordion-header {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
    background-color: #dac2c2 !important
}

.pay-button {
    margin-right: 1rem;
    width: auto;
}

.accordion + .accordion {
    margin-top: 0.5rem !important;
}

.my-recipes-and-expenses, .expenses-going-to {
    padding: 1rem 1.25rem !important;
}

.recipes-expenses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.expenses-going-to {
    background-color: #f5f2c5;
    flex: 1;

    display: flex;
    flex-direction: column;
}

.my-recipes-and-expenses {
    display: flex;
    flex-direction: column;
    width: 25%;

    background-color: #e7e188;
    padding: 0;
}

.my-recipes-and-expenses h5, .expenses-going-to h5 {
    padding-bottom: 1rem;
}

.expenses-going-to h5 {
    text-align: center;
}

.my-recipes-and-expenses strong + span {
    margin-bottom: 1rem;
}

.my-recipes-and-expenses span.value {
    background-color: #f1f1f1;
    color: #333;
    padding: 1rem;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;

    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
}

.green-border {
    border: 1px solid #9ac09a;
}

.green-background {
    background-color: #9ac09a !important;
    color: #fff !important;
}

.red-background {
    background-color: #cea1a1 !important;
    color: #fff !important;
}

.info-percentage {
    text-align: center;
    /* background-color: #cea1a1 !important; */
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.table-resume {
    width: 40%;
    vertical-align: middle;
    border-collapse: separate;
    border-spacing: 0.5rem;
}

.info-category-name {
    font-weight: 700;
    text-align: right;
}

.table-graph {
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.graph {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-value {
    font-weight: 500;
    background-color: #e7e188;
    text-align: center;
    padding: 0 0.5rem;
}

.no-expenses-yet {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
